body {
  background-image: url("https://portal.peopleonehealth.com/Content/Images/CityImages/SparkAmericaCityPageHeader.jpg");
  background-size: 130%;
  font-family: Arial, Helvetica, sans-serif;
}
#logo {
  text-align: center;
  cursor: pointer;
}
#logo img {
  width: 40%;
  margin-bottom: 20px;
}
.formm {
  width: 30%;
  height: 105vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  padding: 20px 50px 20px 50px;
}
/* form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 30px;
} */

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
#sub {
  color: white;
  background-color: #006da8;
  border: 0px;
  padding: 10px 50px 10px 50px;
  border-radius: 50px;
  font-weight: bold;
}
#sub >a{
  text-decoration: none;
  color: white;
}
#sub:hover {
  cursor: pointer;
  background-color: #03283b;
}
.head {
  text-align: center;
}
form > label > span > a {
  text-decoration: none;
  color: #006da8;
}
form > label > span > a:hover {
  cursor: pointer;
  color: #03283b;
}

input{
  height: 2rem;

}
.already a{
  text-decoration: none;
  color: #006da8;
}