body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  text-align: center;
}
#logo img {
  width: 34%;
  margin-top: 20px;
}

#navbar {
  height: 40px;
  width: 55%;
  margin: auto;
  border: 0px solid black;
}
#navbar > div {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}
#navbar > div > p > a {
  text-decoration: none;
  color: #100708;
}
#navbar > div > p > a:hover {
  cursor: pointer;
  color: #d7282f;
}
.fbinsta {
  height: 17px;
}

.underline {
  height: 2px;
  width: 55%;
  margin: auto;
  background-color: #d7282f;
}

#upper-content {
  height: 300px;
  width: 70%;
  border: 1px solid transparent;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 600px;
}
#upper-content > p:nth-child(1) {
  font-size: 25px;
}

#upper-content > p:nth-child(2) {
  font-size: 15px;
  line-height: 20px;
}
ul > p:nth-child(1) {
  font-weight: bold;
  font-size: 20px;
}
ul {
  font-size: 15px;
  line-height: 22px;
}

.btn4 > button {
  border: 0px;
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
  background-color: #0082ca;
  color: white;
}
.btn4 {
  text-align: center;
}

.underline-child {
  height: 2px;
  width: 20%;
  margin-top: 5px;
  background-color: #d7282f;
}

button:hover {
  cursor: pointer;
  background-color: orange;
}

#footer {
  height: 400px;
  width: 99.6%;
  background-color: #3d7cc9;
  padding: 10px;
  color: #eaeae9;
  border: 0px solid red;
}
#footerChild1 {
  display: flex;
  justify-content: center;
  gap: 50px;
  color: #eaeae9;
  align-items: center;
  margin-top: 20px;
  border: 0px solid red;
  height: 280px;
}
#footerChild1 > div {
  border: 0px solid red;
  height: 280px;
}
#para {
  text-align: center;
  margin-top: 50px;
  font-size: 12px;
}
