body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  text-align: center;
}
#logo > img {
  width: 34%;
  margin-top: 20px;
}

#navbar {
  height: 40px;
  width: 55%;
  margin: auto;
  border: 0px solid black;
}
#navbar > div {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}
.fbinsta {
  height: 17px;
}

.underline {
  height: 2px;
  width: 55%;
  margin: auto;
  margin-top: 5px;
  background-color: #d7282f;
}

#upper-content {
  height: 300px;
  width: 70%;
  border: 1px solid red;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 700px;
}

#footer {
  height: 400px;
  width: 99.6%;
  background-color: #3d7cc9;
  padding: 10px;
  color: #eaeae9;
}
#footerChild1 {
  display: flex;
  justify-content: center;
  gap: 25px;
  color: #eaeae9;
  align-items: center;
  margin-top: 20px;
}
#para {
  text-align: center;
  margin-top: 100px;
  font-size: 12px;
}
