body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  text-align: center;
}
#logo > img {
  width: 34%;
  margin-top: 20px;
}

#navbar {
  height: 40px;
  width: 55%;
  margin: auto;
  border: 0px solid black;
}
#navbar > div {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}
#navbar > div > p:hover {
  cursor: pointer;
  color: #d7282f;
}
.fbinsta {
  height: 17px;
}

.underline {
  height: 2px;
  width: 55%;
  margin: auto;
  background-color: #d7282f;
}

#bodytop {
  height: auto;
  width: 80%;
  border: 1px solid transparent;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
.line1 {
  width: 17%;
  height: 2px;
  background-color: #d7282f;
  margin-top: -20px;
}
#bodytop > p:nth-child(1) {
  font-size: 25px;
}

#bodytop > p:nth-child(2) {
  font-size: 15px;
  line-height: 20px;
}
#afterbodytop {
  height: 500px;
  width: 75%;
  border: 1px solid black;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
#afterbodytop > div {
  height: 400px;
  width: 48%;
  border: 1px solid transparent;
  margin: auto;
}
#afterbodytop > div > img {
  width: 100%;
}
#afterbodytop1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#afterbodytop2 {
  padding-left: 20px;
}
#afterbodytop2 > p:nth-child(1) {
  font-size: 25px;
}
#afterbodytop2 > h5 + p {
  font-size: 15px;
  line-height: 22px;
}
#afterbodytopbtn {
  text-align: center;
}
#afterbodytopbtn > button {
  border: 0px;
  background-color: #d7282f;
  padding: 15px 30px 15px 30px;
  color: white;
  border-radius: 5px;
}
#afterbodytopbtn > button:hover {
  background-color: gray;
  cursor: pointer;
}

#containerChild {
  height: auto;
  width: 75%;
  border: 0px solid red;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  margin-bottom: 50px;
}

#containerChild > div {
  border: 1px solid black;
  line-height: 20px;
  padding: 20px;
  font-size: 15px;
}

#containerChild > div > img {
  width: 100%;
}
.btnn > button {
  border: 0px;
  background-color: #d7282f;
  padding: 15px 30px 15px 30px;
  color: white;
  border-radius: 5px;
}
.btnn {
  text-align: center;
}
.btnn > button:hover {
  background-color: gray;
  cursor: pointer;
}
.line {
  margin-top: 30px;
  width: 25%;
  background-color: #d7282f;
  height: 2px;
}
#footer {
  height: 400px;
  width: 99.6%;
  background-color: #3d7cc9;
  padding: 10px;
  color: #eaeae9;
  border: 0px solid red;
}
#footerChild1 {
  display: flex;
  justify-content: center;
  gap: 50px;
  color: #eaeae9;
  align-items: center;
  margin-top: 20px;
  border: 0px solid red;
  height: 280px;
}
#footerChild1 > div {
  border: 0px solid red;
  height: 280px;
}
#para {
  text-align: center;
  margin-top: 50px;
  font-size: 12px;
}
