body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  text-align: center;
}
#logo > img {
  width: 34%;
  margin-top: 20px;
}

#navbar {
  height: 40px;
  width: 55%;
  margin: auto;
  border: 0px solid black;
}
#navbar > div {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}
#navbar > div > p > a {
  text-decoration: none;
  color: #100708;
}
#navbar > div > p > a:hover {
  cursor: pointer;
  color: #d7282f;
}
.fbinsta {
  height: 17px;
}

.underline {
  height: 2px;
  width: 55%;
  margin: auto;
  background-color: #d7282f;
}
#contacttop {
  height: 200px;
  width: 70%;
  border: 1px solid transparent;
  margin: auto;
  margin-top: 20px;
}
#contacttop > div > p:nth-child(1) {
  font-size: 30px;
}
#contactunderline {
  height: 2px;
  width: 15%;
  background-color: #d7282f;
  margin-top: -2%;
}
#contactunderline + p {
  font-size: 16px;
  line-height: 20px;
}
#contacttop > div > p > span {
  color: #69a5df;
}
#contacttop > div > p > span:hover {
  cursor: pointer;
}

#contactbody {
  height: 400px;
  width: 70%;
  border: 1px solid transparent;
  margin: auto;
  display: flex;
  gap: 10px;
  margin-top: 70px;
  margin-bottom: 130px;
}

#contactbody > div {
  height: 380px;
  width: 45%;
  border: 1px solid transparent;
  margin: auto;
}
#contactbody > div:nth-child(2) {
  padding-left: 10px;
  font-size: 14px;
  line-height: 20px;
}
#contactbody > div:nth-child(1) {
  padding-left: 10px;
  font-size: 14px;
  line-height: 20px;
}

.bodypara {
  font-size: 30px;
}
.bodypara + span {
  color: #69a5df;
}
.bodypara + span:hover {
  cursor: pointer;
}
.inp {
  padding: 2% 24%;
  margin: 2%;
  border: 1px solid rgb(170, 168, 168);
  text-align: center;
}
#btn6 {
  border: 0px;
  background-color: #d7282f;
  padding: 15px 30px 15px 30px;
  color: white;
  border-radius: 20px;
}
#btn6:hover {
  background-color: #e75156;
}

#footer {
  height: 400px;
  width: 99.6%;
  background-color: #3d7cc9;
  padding: 10px;
  color: #eaeae9;
  border: 0px solid red;
}
#footerChild1 {
  display: flex;
  justify-content: center;
  gap: 50px;
  color: #eaeae9;
  align-items: center;
  margin-top: 20px;
  border: 0px solid red;
  height: 280px;
}
#footerChild1 > div {
  border: 0px solid red;
  height: 280px;
}
#para {
  text-align: center;
  margin-top: 50px;
  font-size: 12px;
}
#footerhover > p {
  cursor: pointer;
}
