body {
  background-image: url("https://portal.peopleonehealth.com/Content/Images/CityImages/SparkAmericaCityPageHeader.jpg");
  background-repeat: no-repeat;
  background-size: 130%;
  font-family: Arial, Helvetica, sans-serif;
}
#logo {
  text-align: center;
}
#logo > img {
  width: 40%;
  margin-bottom: 20px;
}
#register {
  height: 300px;
  width: 45%;
  background-color: white;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}
#registerChild1 {
  display: flex;
  margin-top: 20%;
  justify-content: space-between;
}
#registerChild1 > a {
  text-decoration: none;
}
#anchr {
  text-align: center;
  margin-top: 20px;
}

#anchr > a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
#anchr > a:hover {
  color: black;
}
form {
  margin-top: 15px;
  padding: 10px;
}
form > input {
  display: flex;
  flex-wrap: wrap;
  padding-right: 200px;
  padding-top: 7px;
  padding-bottom: 7px;
}
form > label {
  font-size: 15px;
  color: gray;
}
#bottom {
  font-size: 10px;
  color: white;
  text-align: center;
  margin-top: 200px;
}
#registerChild1 > a {
  color: #1377ac;
}
#registerChild1 > button {
  color: white;
  background-color: #1377ac;
  border-radius: 30px;
  padding: 7px 10px 7px 10px;
  border: 0px;
  font-weight: bold;
}
#registerChild1 > button:hover {
  cursor: pointer;
  background-color: #033651;
}
#registerChild1 > a:hover {
  color: #033651;
}
#registerChild1 > button > a {
  text-decoration: none;
  color: white;
}
